@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Margarine&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

:root {
    /*-------Font Family--------*/
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Inter", sans-serif;
  --ff-design: "Satisfy", cursive;
  --ff-brand: "Margarine", sans-serif;

  /*----------color--------------*/
--clr-white: #fff;
--clr-dark: #333;
--clr-grey-1: #102a42;
--clr-gray-2: #617d98;
--clr-gray-3: #f1f5f8;
--clr-primary: #f53b57;
--clr-primary-light: #f04660;
--clr-secondary: #e9b949;
-o-transition: all 0.3s linear;
}

a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75em;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.5rem;
  }
  h4{
    font-size: 0.875rem;
  }
  p{
    margin-bottom: 1.75rem;
  }
    
  body{
    font-family: var(--ff-primary);
    font-size: 0.875rem;
    background-color: var(--clr-white);
    color: var(--clr-grey-1);
    line-height: 1.5;
  }
  .btn{
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.5px;
    display: inline-block;
    font-weight: 400;
    transition: var(--transition);
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0,0.2);

  }

  .btn:hover {
    background-color: var(--clr-primary-light);
  }

.clearfix::after,
.clearfix::before{
  content:"";
  clear: both;
  display: table;
}

.section-center{
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
.section-title h3{
  font-family: var(--ff-design);
  color: var(--clr-primary);
  font-size: 2rem;
}
.section-title{
  margin-bottom: 2rem;
}
@media screen and (min-width: 992px){
  .section-center{
    width: 95%;
    padding: 4rem 1rem;
  }
}

/**----------------------About--------------------------*/
.about-img,
.about-info{
  padding: 2rem 0;
}

.about-picture-container{
  background-color: rgba(0, 0, 0,0.2);
  max-width: ;
  box-shadow: 0px 3px 5px rgba(0, 0, 0,0.2);
  border-radius: 5px;
  overflow: hidden;

  
}
.about-picture{
transition: var(--transition);
width: 350px;
max-height: 300px;

}

.about-picture-container:hover .about-picture {
  transform: scale(1.2);
  opacity: 0.5;
}

.about-text{
  max-width: 26rem;
  color: var(--clr-gray-2);
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width:992px)
{
.about-img,
.about-info{
  float:left;
  width: ;
}
.about-info{
padding-left: 2rem;
}
}